body,button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root{
    --offcanvas-width:270px;
    --topNavbarHeight: 91px;
}
.sidebar-nav{
    width: var(--offcanvas-width);
}
.offcanvas-body .navbar-nav li a{
    text-decoration: none;
}
@media (min-width:992px){
    body{
        overflow: auto !important;
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
   
}